<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
      }

      .title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 0px;
      }

      .links {
        text-align: center;
      }

      .info p {
        font-size: 15px;
        margin-top: 2px;
        margin-bottom: 2px;
      }

      p {
        line-height: 1.2;
      }
    </style>
  </head>
  <body>
    <p class="title">Gordon Cheung</p>
    <p class="links">
      <a href="mailto:gordonhwc1@gmail.com">gordonhwc1@gmail.com</a>
      |
      <a href="https://www.github.com/Hgjnnf" target="_blank">GitHub Profile</a>
      |
      <a href="https://www/linkedin.com/in/gordon-cheung-hwc" target="_blank"
        >LinkedIn Profile</a
      >
      | +1 (604) 773-8289
    </p>
    <hr />
    <div class="info">
      <p>{{ Date }}</p>
      <p>
        Hiring Manager/Team<br />
        {{ Company }}<br />
        {{ Address }}<br />
        {{ Place }}
      </p>
    </div>
    <hr />
    <p style="font-size: 15px">
      <strong>RE: {{ Company }} <span>&#8212;</span> {{ Position }}</strong>
    </p>
    <div class="body">
      <p>Dear Hiring Manager/Team,</p>
      <p>
        I write to apply for the position of {{ Position }}. I am a third-year
        Electrical Engineering student at the University of British Columbia
        graduating in Spring, 2025 with {{ 3keywords }}. I am well-suited for 
        {{ Company }} because {{ 3reasons }}.
      </p>
      <p>{{ Paragraph1 }}</p>
      <p>{{ Paragraph2 }}</p>
      <p>{{ Paragraph3 }}</p>
      <p>
        Finally, I would like to express my appreciation for this exciting
        opportunity to be a part of {{ Company }} and learn from professionals
        at the company. I believe I have the necessary technical skills to
        succeed in this role, but more importantly, encompass the soft skills to
        be a cultural fit at {{ Company }}. I would be grateful for the
        opportunity to discuss my candidacy with you in more detail. To arrange
        for an interview, please contact me by email at gordonhwc1@gmail.com.
      </p>
      <p>Once again, thank you very much for your time and consideration.</p>
      <p>Warm regards,</p>
      <p>Gordon Cheung</p>
    </div>
  </body>
</html>
